html {
    font-family: Sans-serif;
}

a {
    color: #054096;
}

nav {
    background-image: linear-gradient(90deg, #0250bb, #00ddff);
    border-radius: 5px;
}

nav a {
    color: white;
}

#repos {
    border-radius: 5px;
    border-color: black;
}

#repos a {
    font-size: 15px;
    color: dark-blue;
}



