<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv='content-language' content='en-us'>
        <meta name="msvalidate.01" content="9E22466DFA29674DB865F9840674D609" />
        <meta name="description" content="This is Gordon Zhang’s website. Gordon Zhang is a junior developer.">
        <meta name="keywords" content="Gordon Zhang">
        <meta name="author" content="Gordon Zhang">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        <title>Gordon Zhang's website</title>
        <script>
            function about() {
                alert("This is Gordon Zhang's website. It's created with Python 3 and Flask.")
            }
            function source() {
                window.open("https://github.com/GordonZhang2024/website/")
            }
        </script>
    </head>
        <body>

        {% block title %} {% endblock %}
        <center>
            <nav>
                <a href={{ url_for('index') }}>Home</a>
                <a href={{ url_for('projects') }}>Projects</a>
            </nav>
        </center>
        {% block content %} {% endblock %}
        <br/><br/>
        <footer>
            <center>
                <text onclick=about()>About</text>
                &emsp;<text onclick=source()>Source files</text>
                <a href="github.com/GordonZhang2024" class="github-link">GitHub profile</a>
            </center>
        </footer>
        </body>
</html>
