{% extends 'base.html' %}
{% block title %}
    <h1>Hello from Gordon Zhang!</h1>
{% endblock %}
{% block content %}

<title>GordonZhang2024 | Config files for my GitHub profile.</title>

  <body>
    <div class="info">
      <ul>
  <li>👋 Hi, I’m Gordon Zhang</li>
  <li><a href="https://github.com/GordonZhang2024">GitHub</a></li>
  <li><a href="https://gordonzhang.pythonanywhere.com/">My website</a></li>
  <li><a href="https://pypi.org/user/GordonZhang/">PyPI profile</a></li>
</ul>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
{% endblock %}
