{% extends 'base.html' %}
{% block title %}
    <h1>Gordon Zhang's projects</h1>
{% endblock %}

{% block content %}
    <h3>{{ lenth }} pinned projects</h3>
    <ul>
        {% for p in projects_list %}
        <span class="projects">
            <li>
               <a href={{ p[1] }}>{{ p[0] }}</a><br/>
            </li>
        </span>
        {% endfor %}
    </ul>
        <center>
            <button id="repos"><a href="https://github.com/GordonZhang2024?tab=repositories">More</a></button>
        </center>
{% endblock %}
